body {
    text-align: center;
    /*Sets content of body to the top and bottom of the page*/
    margin: 0;
  }

  nav {
    background-color: steelblue;
    padding: 25px;
  }

  a {
    color: white;
    margin: 40px;
    padding: 25px;
  }

  h1 {
    color: steelblue;
    /*The first value of 50px applies to the top and bottom margins and the 0 applies to the right and left.*/
    margin: 50px 0;
  }
  img {
    width: 800px;
    /*sets the thin boarder around the image*/
    border: 5px solid steelblue;
  }
  p {
    padding: 10px;
  }
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
  footer {
    background-color: steelblue;
    color: white;
  }
  footer p {
    padding: 25px;
  }
  #active {
    background-color: white;
    color: steelblue;
}